<div class="w-full flex flex-col items-center">
<% @user.posts.includes(:comments, :likes).order(created_at: :asc).limit(3).each_with_index do |post, index| %>
  <div class="bg-white p-4 w-4/5 rounded-lg shadow-md mb-4">
    <div class ="flex justify-items-start">
    <h3 class="text-lg mb-2"><%= link_to "Post ##{post.id}", user_post_path(@user, post) %></h3>
    <p class="text-gray-900 ml-4"><%= link_to "#{post.title}", user_post_path(@user, post)%></p>
    </div>
    <p class="text-gray-700"><%= post.text %></p>
    
    <div class="flex justify-end mt-4">
      <p class="text-gray-600 pr-2">Comments: <%= post.comments.count %></p> 
      <p class="text-gray-600">Likes: <%= post.likes.count %></p>
    </div>
  </div>
<% end %>
</div>