<div class="w-full flex flex-col items-center">
  <div class="text-gray-900 bg-gray-300 w-4/5 p-4 rounded-lg shadow-md mb-8">
    <div class="flex justify-between mb-4">
      <div class="mr-4">
        <% if @user.photo.present? %>
          <%= image_tag @user.photo, class: 'w-16 h-16 rounded-full', alt: "#{@user.name}" %>
        <% else %>
          <%= image_tag 'placeholder.jpg', class: 'w-16 h-16 rounded-full', alt: 'Placeholder Image' %>
        <% end %>
      </div>

      <div class="justify-evenly w-4/5">
        <h3 class="text-lg text-start px-2 font-semibold mb-2 pr-2"><%= @user.name %></h3>
        <p class="text-gray-900 text-end pr-2 ">Number of posts: <%= @user.posts.count %></p>
      </div>
    </div>

    <div class="w-full px-2 justify-start">
      <p>Bio: <br/> <%= @user.bio %></p>
    </div>
  </div>
  </div>